body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1464639351491-a172c2aa2911?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fHBhdHRlcm58ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  width: 100%;
  /* max-width: 1000px; */
  background-color: #1e1e1ed5;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
  gap: 10px;
}

.stat {
  background-color: #252525;
  border-radius: 8px;
  padding: 10px 15px;
  text-align: center;
  width: 20%;
}

.stat h3 {
  margin: 0;
  font-size: 16px;
  color: #bdbdbd;
}

.stat p {
  margin: 5px 0 0;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.text-area {
  margin-top: 20px;
  width: 95%;
  height: 200px;
  background-color: #252525;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  resize: none;
}

.text-area::placeholder {
  color: #bdbdbd;
}
