* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}
.grid {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #444;
}
.snake {
  background: linear-gradient(green, goldenrod);
}

.food {
  background-color: red;
}
.game-over {
  color: white;
  font-size: 2rem;
}
