* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clockContainer {
  background: #018ded
    url(https://images.unsplash.com/photo-1506686098657-5eeb165b4353?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGNsb2NrfGVufDB8fDB8fHww);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
  position: relative;
  height: 100vh;
}

.clockContainer article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  align-items: center;
  z-index: 50;
}
.overlay {
  background: linear-gradient(to bottom left, black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
}
.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0.354));
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background: linear-gradient(to right, white, gray);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  border-radius: 50%;
}
