* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGF0dGVybnxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
}

#bands {
  list-style: inside square;
  font-size: 20px;
  width: 500px;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
  overflow: auto;
  height: 450px;
  background: linear-gradient(to bottom, white, #efefef);
}

#bands::-webkit-scrollbar {
  width: 7px;
}
#bands::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9f9f9f88;
}

#bands li {
  border-bottom: 1px solid #efefef;
  padding: 20px;
}

#bands li:last-child {
  border-bottom: 0;
}

button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
  font-weight: bolder;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.btn_Section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
